body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}
#root, .container-fluid{
  height: 100%;
}
.notePage{
  height: 100%;
}
.NotesHeader{
  margin: 30px 0px;
}
.NotesHeader > h2 {
  margin: 20px;
}
.NotesHeader > .btn {
  font-size: large;
  margin: 10px 20px;
}
.card-title{
  font-size: 1.3rem;
}
.row{
  display: flex;
  flex-direction: row;  /* 가로로 나열 */
  flex-wrap: wrap; /* 필요시 자동으로 다음 줄로 이동 */
}
.btn {
  background-color:#fecfcd;
  color: #fdfac9;
  color: #c9e9fd;
}
.btn-danger{
  background-color: #ef9591;
}
.tags{
  margin: 10px 10px 20px 0px;
}
.tag {
  background-color: #eee;
  opacity: 0.7;
  padding: 8px 15px;
  margin: 10px 10px 10px 0px;
  border-radius: 30%;
}
.sidebar {
  background-color: #f1f1f1;
  padding: 15px;
  border-right: 1px solid #ccc;
}
.sidebar{
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}
.list-group-item{
  cursor: pointer;
  font-size: 1.5rem;
}
.list-group-item:hover{
  background-color: #f1f1f1;
}